.mapValues {
	width: 98vw;
	display: flex;
	margin-top: 2%;
	justify-content: center;
	.containerProducts {
		display: grid;
		grid-template-rows: 3fr;
		grid-template-columns: repeat(4, 350px);
		gap: 40px;
		.imageDiv {
			height: 20vh;
			width: 200px;
			margin: auto;
		}
		.wrap {
			display: flex;
			align-items: center;
			flex-direction: column;
			.addToCard {
				width: 150px;
				height: 50px;
				border: none;
				outline: none;
				color: #fff;
				background: #111;
				cursor: pointer;
				position: relative;
				z-index: 0;
				border-radius: 10px;
			}
			.titleProduct {
				margin-top: 10px;
				text-align: center;
				font-size: 18px;
				color: black;
				font-weight: 800;
				line-height: 30px;
			}
			span {
				margin: 10px;
				text-align: center;
				font-weight: 400;
				color: gray;
				display: block;
				text-align: center;
			}
		}
	}
}
